# Pacotes auxiliares/framework (pode manter as versões)
blinker==1.9.0
click==8.3.0
colorama==0.4.6
Flask==3.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.0.1
gunicorn

# Pacotes Críticos: Remova as versões fixadas (==)
# Isso permite que o pip instale a versão mais nova e estável que
# seja compatível com o Flask 3.0.0.
Flask-SQLAlchemy
SQLAlchemy
greenlet
typing_extensions
